.flex{
    display: flex;
}

.container{
    max-width: 80vw;
    /* padding: 0px 80vw; */
    margin: auto;
    /* background: #000; */
}

.container1{
    max-width: 80vw;
    max-height: 30vh 0vw;
    /* padding: 0px 80vw; */
    margin: auto;
    /* background: #000; */
}